PORT=5000
MONGO_URI=mongodb+srv://phamchiesa_db_user:jfptkLQAi9KUbntK@cluster0.xfvqnos.mongodb.net/?appName=Cluster0

# Cấu hình gửi email tuyển dụng (Gmail SMTP + Nodemailer)
EMPLOYER_EMAIL=binhbomam@gmail.com
EMPLOYER_EMAIL_PASSWORD=vzgycqyeibyzozhx
